body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.header-menu a {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.main-content-header {
  font-size: 21px;
  font-weight: bold;
}
